body{
	font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",HelveticaNeue,Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	background: $background-color;
	font-weight: normal;
	color: $text-color;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Garamond-Premr-Pro";
}
img{
	max-width: 100%;
}