@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../fonts/Muli-ExtraBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Garamond-Premr-Pro';
    src: url('../fonts/GaramondPremrPro-SmbdSubh.otf') format("truetype");
}