/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
    .section-wrapper{
        padding-top: $pt-section-xxl;
        height: 100%;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .s-premium{
        .section{
            transform: translate(0%, 100%);
        }
        &-1{
            .section{
                transform: translate(0%, 0%);
            }
        }
        &-2{
            .section-wrapper{
                flex-direction: column;
            }
            &__info{
                &-item{
                    margin: 0 32px;
                    flex: 0 0 28%;
                }
            }
            &__img{
                > img{
                    height: calc(#{$height-content-main-xxl} - 204px - 30px - 3vh);
                    max-height: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-3{
            .section-wrapper{
                padding-bottom: 0;
            }
            .container-fluid{
                height: 100%;
                > .row{
                    height: 100%;
                }
            }
            &__img{
                > img{
                    height: calc(#{$height-content-main-xxl});
                    max-height: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-5{
            .content-main{
                height: 100%;
                > .row{
                    height: 100%;
                }
            }
            &__content{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            &__img{
                > img{
                    height: calc(#{$height-content-main-xxl});
                    max-height: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-4{
            .section-wrapper{
                padding-top: calc(#{$pt-section-xxl} - 40px);
            }
        }
        &-6{
            .section-wrapper{
                padding-top: calc(#{$pt-section-xxl} - 40px);
            }
        }
    }
}

@media only screen and (min-width: 1344px) {
    
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1500px) {
    .s-premium{
        &-2{
            &__content{
                flex: 1.2;
            }
            &__img{
                padding-left: 3%;
            }
        }
        &-3{
            &__content{
                flex: 1.4;
            }
            &__img{
                padding-left: 5%;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .s-premium{
        .navbar{
            padding: 35px 0 40px $pl-menu-xxl;
        }
        &-3, &-2{
            &__content{
                padding-left: $pl-main-xl;
            }
        }
        .header{
            top: $top-header-xxl;
        }
    }
}


@media only screen and (max-width: 1366px) and (min-width: 1250px) {
    
}

@media only screen and (max-width: 1250px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
}
@media only screen and (max-width: 1500px) {
    .s-premium{
        .section-title{
            margin-bottom: 20px;
        }
        .navbar {
            .nav-link{
                font-size: 24px;
                padding-bottom: 15px;
            }
            &-nav li:not(:last-child) .nav-link{
                margin-bottom: 10px;
            }
            &-collapse{
                padding-top: 80px;
            }
            &__close{
                top: 50px;
            }
        }
        &-1{
            h2{
                font-size: 40px;
            }
            h4{
                font-size: 36px;
            }
        }
        &-2{
            &__content{
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 20px;
                }
            }
            &__info{
                &-list{
                    padding: 0;
                }
                &-item{
                    margin: 0 15px;
                }
            }
        }
        &-3{
            &__content{
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 20px;
                }
            }
            &__info{
                margin-top: 20px;
            }
        }
        &-4{
            &__content{
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 0;
                }
            }
            &__info{
                margin-top: 20px;
                img{
                    width: 95%;
                }
            }
        }
        &-5{
      
            &__content{
                margin-bottom: 5px;
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 20px;
                }
            }
            &__slide{
                margin-top: 25px;
            }
        }
        &-6{
            &__header{
                h4{
                    font-size: 25px;
                    margin-bottom: 25px;
                }
            }
        }
        &-7{
            &__content{
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 15px;
                    font-size: 18px;
                }
            }
            &__info{
                margin-top: 20px;
                &-item{
                    div{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &-8{
            &__content{
                margin-top: -115px;
                h4{
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                p{
                    margin-bottom: 8px;
                    font-size: 15px;
                }
            }
            &__info{
                margin-top: 20px;
            }
            .nav-link {
                font-size: 18px;
                span{
                    padding: 8px 10px;
                }
            }
            &__img{
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .section-wrapper{
        padding-top: $pt-section-xl;
    }
    .s-premium{
        &-5{
            &__img{
                img{
                    height: $height-content-main-xl;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .s-premium{
        &-2{
            &__img{
                padding-left: 5%;
            }
            &__info{
                &-item{
                    margin: 0 8px;
                    padding: 15px 8px;
                }
            }
        }
        &-6{

            .owl-dots{
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
   
}

@media only screen and (max-width: 1200px) {
    .section-wrapper{
        padding: 40px 0;
    }
    .s-premium{
        height: unset;
        padding-top: 63px;
        .section{
            position: unset;
            height: unset;
            padding-left: 0;
        }
        .navbar{
            padding: 0;
            &__box{
                display: none;
            }
            &__sidebar{
                padding: 10px 10px;
                flex-direction: unset;
                height: unset;
                width: 100%;
                background-color: #003d47;
            }
            &__icon{
                flex-direction: unset;
                a{
                    margin-top: 0 !important;
                    margin-left: 15px;
                }
                img{
                    width: 32px;
                }
            }
            &__hotline{
                display: flex;
            }
            &__logo{
                display: block;
            }
            &-toggler {
                span{
                    display: none;
                }
            }
            &__close{
                top: 85px;
            }
            &-collapse{
                padding-top: 120px;
            }
        }
        .fixed-top{
            right: 0;
            bottom: unset;
        }
        .header{
            // display: block !important;
        }
        &-1{
            padding: 100px 0;
        }
        &-3{
            .section-wrapper{
                padding-bottom: 0;
            }
        }
        &-5{
            .section-wrapper{
                padding-bottom: 0;
            }
            &__content{
                margin-top:0;
            }
        }
        &-contact{
            padding: 40px 0 40px;
            &__footer{
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .s-premium{
        .navbar{
            &-collapse{
                overflow: auto;
            }
            &__hotline{
                position: relative;
                margin-right: 5px;
                &:after{
                    content: '';
                    border: 1px solid rgba(255,255,255,.2);
                    width: 44px;
                    height: 44px;
                    position: absolute;
                    left: -5px;
                    top: -5px;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(255,255,255,.2);
                    animation: Ani 2s infinite;
                    opacity: .8;
                    z-index: -2;
                }
            }
        }
        &-1{
            background-position: right !important;
            h2{
                font-size: 30px;
            }
            h4{
                font-size: 28px;
            }
        }
        &-2{
            .section-title, .link-arrow{
                justify-content: center;
            }
            .container-fluid .row{
                margin-right: 0;
            }
            &__content{
                flex: unset;
                width: 100%;
                padding: 0;
                margin-bottom:30px;
                text-align: center;
            }
            &__img{
                flex: unset;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-bottom: 30px;
                > img{
                    width: 100%;
                }
            }
        }
        &-3{
            .section-title, .link-arrow{
                justify-content: center;
            }
            .container-fluid .row{
                margin-right: 0;
            }
            &__content{
                flex: unset;
                width: 100%;
                padding: 0;
                margin-bottom:30px;
                text-align: center;
                &-header{
                    margin-bottom: 30px;
                    padding-right: 15px;
                }
            }
            &__img{
                flex: unset;
                width: 100%;
                padding-right: 0;
                margin-bottom: 0;
                img{
                    width: 100%;
                }
            }
        }
        &-4{
            &__info{
                flex-wrap: wrap;
                &-1{
                    flex: unset;
                    width: 100%;
                    padding-right: 0;
                    .row{
                        >div{
                            flex: 1;
                            padding: 0 15px;
                        }
                        margin-bottom:20px;
                    }
                }
                &-2{
                    flex: unset;
                    width: 100%;
                }
                img{
                    width: 100%;
                }
            }
        }
        &-5{
            .section-title, .link-arrow{
                justify-content: center;
            }
            &__content{
                flex: unset;
                width: 100%;
                padding: 0;
                margin-bottom:30px;
                text-align: center;
                &-header{
                    margin-bottom: 30px;
                    padding: 0 15px;
                }
            }
            &__slide{
                padding: 0 30px;
            }
            &__img{
                img{
                    width: 100%;
                }
            }
        }
        &-6{
            .owl-nav {
                .owl-prev{
                    left: 30px;
                }
                .owl-next{
                    right: 30px;
                }
            }
        }
        &-7{
            .section-title, .link-arrow{
                justify-content: center;
            }
            &__content{
                flex: unset;
                width: 100%;
                padding: 0;
                margin-bottom:30px;
                text-align: center;
                &-header{
                    margin-bottom: 30px;
                    padding-right: 0;
                }
            }
            &__info{
                padding: 0 15px;
            }
            &__img{
                padding-left:15px;
            }
        }
        &-8{
            &__content{
                margin-top: -100px;
            }
            .nav{
                padding-left: 15px;
            }
            &__img{
                padding: 0;
                padding-right: 15px;
            }
        }
        &-contact__form {
            max-width: unset;
            width: unset;
        }
    }
}

@media only screen and (max-width: 768px) {
    .s-premium{
        &-1{
            &__content{
                img{
                    width: 70%;
                }
                h2{
                    margin-top: 35px;
                }
            }
        }
        &-8{
            &__content{
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .s-premium{
        padding-top: 45px;
        .navbar{
            &__logo{
                width: 150px;
                padding: 10px 15px;
            }
            &__icon{
                &-1, &-2{
                    display: none;
                }
            }
            .nav-link{
                font-size: 18px;
            }
            &__close{
                right: 10px;
            }
            &__sidebar{
                padding: 2px 10px;
            }
        }
        &-1{
            min-height: calc(100vh - 47px);
            position: relative !important;
            &__content{
                display: none;
                max-width: 100%;
                flex: unset;
            }
            h2{
                font-size: 25px;
            }
            h4{
                font-size: 24px;
            }
            &__img{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-2{
            &__info{
                &-list{
                    flex-wrap: wrap;
                    .s-premium-2__info-item:not(:first-child):before{
                        content: none;
                    }
                }
                &-item{
                    flex: unset;
                    width: 100%;
                }
            }
            &__zoom{
                width: 40px;
                height: 40px;
                img{
                    width: 22px;
                }
            }
        }
        &-4{
            &__info{
                &-1, &-2{
                    padding-right: 0;
                    .row{
                        >div{
                            flex: unset;
                            width: 100%;
                            margin-bottom:20px;
                        }
                    }
                }
            }
        }
        &-5{
            .owl-nav {
                > button{
                    width: 45px;
                    height: 45px;
                    &:hover{
                        transform: none;
                    }
                }
                .owl-next{
                    right: -12px;
                }
                .owl-prev{
                    left: -12px;
                }
            }
            &__slide{
                padding: 0 15px;
            }
        }
        &-6{
            &__item{
                padding-bottom: 0;
                &-title{
                    position: unset;
                    > span{
                        border: none;
                        padding: 0;
                        span{
                            font-size: 14px;
                            display: block;
                            padding: 8px 10px;
                        }
                    }
                }
            }
            &__opacity1, &__opacity2{
                display:none;
            }
            .owl-dots{
                margin-top: 20px;
            }
        }
        &-7{
            &__info{
                .row{
                    >div{
                        padding: 0 15px !important;
                    }
                }
            }
            &__content{
                margin-top: 0;
            }
        }
        &-8{
            .nav-link{
                flex: 0 0 32%;
                span{
                    padding: 6px 4px;
                    white-space: nowrap;
                    font-size: 16px;
                }
            }
            .nav{
                padding-top: 160px;
            }
            &__content{
                &-header{
                    margin-top: -300px;
                }
            }
            &__info{
                margin-top: 490px;
                overflow: hidden;
            }
            &__img{
                margin-top: -660px;
                padding-left: 15px;
            }
            #v-pills-8-1{
                .s-premium-8{
                    &__info{
                        img{
                            transform: matrix(2, 0, 0, 2, 172, 100);
                        }
                    }
                }
            }
            #v-pills-8-2{
                .s-premium-8{
                    &__info{
                        img{
                            transform: matrix(2, 0, 0, 2, 172, 12);
                        }
                    }
                }
            }
            #v-pills-8-3{
                .s-premium-8{
                    &__info{
                        margin-top: 510px;
                        img{
                            transform: matrix(2, 0, 0, 2, 172, -80);
                        }
                    }
                    &__img{
                        margin-top: -680px;
                    }
                }
            }
            #v-pills-8-4{
                .s-premium-8{
                    &__info{
                        img{
                            transform: matrix(2, 0, 0, 2, 172, -90);
                        }
                    }
                }
            }
            #v-pills-8-5{
                .s-premium-8{
                    &__info{
                        img{
                            transform: matrix(2, 0, 0, 2, 172, 164);
                        }
                    }
                }
            }
            #v-pills-8-6{
                .s-premium-8{
                    &__info{
                        margin-top: 450px;
                        img{
                            transform: matrix(2, 0, 0, 2, 172, -165);
                        }
                    }
                    &__img{
                        margin-top: -620px;
                    }
                }
            }
        }
        &-contact{
            &__form .row {
                padding: 0 15px;
                > div{
                    flex:unset;
                    width: 100%;
                    margin-left: 0 !important;
                }
            }
        }
    }
}