.white-color{
    color: $white-color;
}
.primary-color{
    color: $primary-color;
}
.text-color{
    color: $text-color;
}
.text-color-secondary{
    color: $text-color-secondary;
}

.ff-muli-regular{
    font-family: 'Muli-Regular';
}
.ff-muli-bold{
    font-family: 'Muli-Bold';
}
.ff-muli-extrabold{
    font-family: 'Muli-ExtraBold';
}
.ff-garamond-premr-pro{
    font-family: 'Garamond-Premr-Pro';
}

.color-1{
    color: $color-1 !important;
}
.color-2{
    color:$color-2 !important;
}
.color-3{
    color: $color-3 !important;
}
.color-4{
    color: $color-4 !important;
}
.color-5{
    color: $color-5 !important;
}
.color-6{
    color:$color-6 !important;
}